CTWebMgmt/Web References/wsEPSServices/express.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://services.elementexpress.com" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="https://services.elementexpress.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://services.elementexpress.com">
      <s:element name="PaymentAccountCreateWithTransID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="credentials" type="tns:Credentials" />
            <s:element minOccurs="1" maxOccurs="1" name="application" type="tns:Application" />
            <s:element minOccurs="1" maxOccurs="1" name="transaction" type="tns:Transaction" />
            <s:element minOccurs="1" maxOccurs="1" name="paymentAccount" type="tns:PaymentAccount" />
            <s:element minOccurs="1" maxOccurs="1" name="address" type="tns:Address" />
            <s:element minOccurs="0" maxOccurs="1" name="extendedParameters" type="tns:ArrayOfExtendedParameters" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Credentials">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AccountID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountToken" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AcceptorID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NewAccountToken" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Application">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ApplicationID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApplicationName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApplicationVersion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Transaction">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TransactionID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClerkNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShiftID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionAmount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OriginalAuthorizedAmount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TotalAuthorizedAmount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SalesTaxAmount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipAmount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApprovalNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReferenceNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TicketNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ReversalType" type="tns:ReversalType" />
          <s:element minOccurs="1" maxOccurs="1" name="MarketCode" type="tns:MarketCode" />
          <s:element minOccurs="0" maxOccurs="1" name="AcquirerData" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CashBackAmount" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BillPaymentFlag" type="tns:BooleanType" />
          <s:element minOccurs="1" maxOccurs="1" name="DuplicateCheckDisableFlag" type="tns:BooleanType" />
          <s:element minOccurs="1" maxOccurs="1" name="DuplicateOverrideFlag" type="tns:BooleanType" />
          <s:element minOccurs="1" maxOccurs="1" name="RecurringFlag" type="tns:BooleanType" />
          <s:element minOccurs="0" maxOccurs="1" name="CommercialCardCustomerCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProcessorName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionStatusCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HostTransactionID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionSetupID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MerchantVerificationValue" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PartialApprovedFlag" type="tns:BooleanType" />
          <s:element minOccurs="0" maxOccurs="1" name="ApprovedAmount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CommercialCardResponseCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BalanceAmount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BalanceCurrencyCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ReversalType">
        <s:restriction base="s:string">
          <s:enumeration value="System" />
          <s:enumeration value="Full" />
          <s:enumeration value="Partial" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="MarketCode">
        <s:restriction base="s:string">
          <s:enumeration value="Default" />
          <s:enumeration value="AutoRental" />
          <s:enumeration value="DirectMarketing" />
          <s:enumeration value="ECommerce" />
          <s:enumeration value="FoodRestaurant" />
          <s:enumeration value="HotelLodging" />
          <s:enumeration value="Petroleum" />
          <s:enumeration value="Retail" />
          <s:enumeration value="QSR" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="BooleanType">
        <s:restriction base="s:string">
          <s:enumeration value="False" />
          <s:enumeration value="True" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="PaymentAccount">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PaymentAccountID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PaymentAccountType" type="tns:PaymentAccountType" />
          <s:element minOccurs="0" maxOccurs="1" name="PaymentAccountReferenceNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionSetupID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PASSUpdaterBatchStatus" type="tns:PASSUpdaterBatchStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="PASSUpdaterOption" type="tns:PASSUpdaterOption" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="PaymentAccountType">
        <s:restriction base="s:string">
          <s:enumeration value="CreditCard" />
          <s:enumeration value="Checking" />
          <s:enumeration value="Savings" />
          <s:enumeration value="ACH" />
          <s:enumeration value="Other" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="PASSUpdaterBatchStatus">
        <s:restriction base="s:string">
          <s:enumeration value="Null" />
          <s:enumeration value="IncludedInNextBatch" />
          <s:enumeration value="NotIncludedInNextBatch" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="PASSUpdaterOption">
        <s:restriction base="s:string">
          <s:enumeration value="Null" />
          <s:enumeration value="AutoUpdateEnabled" />
          <s:enumeration value="AutoUpdateDisabled" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="Address">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="BillingName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BillingAddress1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BillingAddress2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BillingCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BillingState" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BillingZipcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BillingEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BillingPhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShippingName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShippingAddress1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShippingAddress2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShippingCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShippingState" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShippingZipcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShippingEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShippingPhone" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfExtendedParameters">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ExtendedParameters" type="tns:ExtendedParameters" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ExtendedParameters">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ScheduledTask">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ScheduledTaskID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ScheduledTaskRunLogID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ScheduledTaskGroupID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ScheduledTaskName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ScheduledTaskReferenceNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RunFrequency" type="tns:RunFrequency" />
          <s:element minOccurs="0" maxOccurs="1" name="RunStartDate" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RunUntilCancelFlag" type="tns:BooleanType" />
          <s:element minOccurs="0" maxOccurs="1" name="RunCycles" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ScheduledTaskStatus" type="tns:StatusType" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="RunFrequency">
        <s:restriction base="s:string">
          <s:enumeration value="OneTimeFuture" />
          <s:enumeration value="Daily" />
          <s:enumeration value="Weekly" />
          <s:enumeration value="BiWeekly" />
          <s:enumeration value="Monthly" />
          <s:enumeration value="BiMonthly" />
          <s:enumeration value="Quarterly" />
          <s:enumeration value="SemiAnnually" />
          <s:enumeration value="Yearly" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="StatusType">
        <s:restriction base="s:string">
          <s:enumeration value="Active" />
          <s:enumeration value="Disabled" />
          <s:enumeration value="Removed" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ExpressResponse" abstract="true">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExpressResponseCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExpressResponseMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExpressTransactionDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExpressTransactionTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExpressTransactionTimezone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExtendedParameters" type="tns:ArrayOfExtendedParameters" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Response">
        <s:complexContent mixed="false">
          <s:extension base="tns:ExpressResponse">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="PaymentAccount" type="tns:PaymentAccount" />
              <s:element minOccurs="1" maxOccurs="1" name="ScheduledTask" type="tns:ScheduledTask" />
              <s:element minOccurs="0" maxOccurs="1" name="QueryData" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ServicesID" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="PaymentAccountCreateWithTransIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="response" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PaymentAccountCreate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="credentials" type="tns:Credentials" />
            <s:element minOccurs="1" maxOccurs="1" name="application" type="tns:Application" />
            <s:element minOccurs="1" maxOccurs="1" name="paymentAccount" type="tns:PaymentAccount" />
            <s:element minOccurs="1" maxOccurs="1" name="card" type="tns:Card" />
            <s:element minOccurs="1" maxOccurs="1" name="demandDepositAccount" type="tns:DemandDepositAccount" />
            <s:element minOccurs="1" maxOccurs="1" name="address" type="tns:Address" />
            <s:element minOccurs="0" maxOccurs="1" name="extendedParameters" type="tns:ArrayOfExtendedParameters" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Card">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Track1Data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Track2Data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Track3Data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MagneprintData" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CardNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TruncatedCardNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExpirationMonth" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExpirationYear" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CardholderName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CVV" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CAVV" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PINBlock" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KeySerialNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EncryptedFormat" type="tns:EncryptionFormat" />
          <s:element minOccurs="0" maxOccurs="1" name="EncryptedTrack1Data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EncryptedTrack2Data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EncryptedCardData" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CardDataKeySerialNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AVSResponseCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CVVResponseCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CAVVResponseCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CardLogo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="EncryptionFormat">
        <s:restriction base="s:string">
          <s:enumeration value="Default" />
          <s:enumeration value="Format1" />
          <s:enumeration value="Format2" />
          <s:enumeration value="Format3" />
          <s:enumeration value="Format4" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="DemandDepositAccount">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DDAAccountType" type="tns:DDAAccountType" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RoutingNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CheckNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CheckType" type="tns:CheckType" />
          <s:element minOccurs="0" maxOccurs="1" name="TruncatedAccountNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TruncatedRoutingNumber" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="DDAAccountType">
        <s:restriction base="s:string">
          <s:enumeration value="Checking" />
          <s:enumeration value="Savings" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="CheckType">
        <s:restriction base="s:string">
          <s:enumeration value="Personal" />
          <s:enumeration value="Business" />
        </s:restriction>
      </s:simpleType>
      <s:element name="PaymentAccountCreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="response" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PaymentAccountUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="credentials" type="tns:Credentials" />
            <s:element minOccurs="1" maxOccurs="1" name="application" type="tns:Application" />
            <s:element minOccurs="1" maxOccurs="1" name="paymentAccount" type="tns:PaymentAccount" />
            <s:element minOccurs="1" maxOccurs="1" name="card" type="tns:Card" />
            <s:element minOccurs="1" maxOccurs="1" name="demandDepositAccount" type="tns:DemandDepositAccount" />
            <s:element minOccurs="1" maxOccurs="1" name="address" type="tns:Address" />
            <s:element minOccurs="0" maxOccurs="1" name="extendedParameters" type="tns:ArrayOfExtendedParameters" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PaymentAccountUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="response" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PaymentAccountDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="credentials" type="tns:Credentials" />
            <s:element minOccurs="1" maxOccurs="1" name="application" type="tns:Application" />
            <s:element minOccurs="1" maxOccurs="1" name="paymentAccount" type="tns:PaymentAccount" />
            <s:element minOccurs="0" maxOccurs="1" name="extendedParameters" type="tns:ArrayOfExtendedParameters" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PaymentAccountDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="response" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PaymentAccountQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="credentials" type="tns:Credentials" />
            <s:element minOccurs="1" maxOccurs="1" name="application" type="tns:Application" />
            <s:element minOccurs="1" maxOccurs="1" name="paymentAccountParameters" type="tns:PaymentAccountParameters" />
            <s:element minOccurs="0" maxOccurs="1" name="extendedParameters" type="tns:ArrayOfExtendedParameters" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PaymentAccountParameters">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PaymentAccountID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PaymentAccountType" type="tns:PaymentAccountType" />
          <s:element minOccurs="0" maxOccurs="1" name="PaymentAccountReferenceNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExpirationMonthBegin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExpirationMonthEnd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExpirationYearBegin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExpirationYearEnd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionSetupID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PaymentBrand" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PASSUpdaterStatus" type="tns:PASSUpdaterStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="PASSUpdaterBatchStatus" type="tns:PASSUpdaterBatchStatus" />
          <s:element minOccurs="0" maxOccurs="1" name="PASSUpdaterDateTimeBegin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PASSUpdaterDateTimeEnd" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="PASSUpdaterStatus">
        <s:restriction base="s:string">
          <s:enumeration value="Null" />
          <s:enumeration value="UpdateInProgress" />
          <s:enumeration value="MatchNoChanges" />
          <s:enumeration value="MatchAccountChange" />
          <s:enumeration value="MatchExpirationChange" />
          <s:enumeration value="MatchAccountClosed" />
          <s:enumeration value="MatchContactCardholder" />
          <s:enumeration value="NoMatchParticipating" />
          <s:enumeration value="NoMatchNonParticipating" />
          <s:enumeration value="InvalidInfo" />
          <s:enumeration value="NoResponse" />
          <s:enumeration value="NotAllowed" />
          <s:enumeration value="Error" />
          <s:enumeration value="PASSUpdaterDisabled" />
          <s:enumeration value="NotUpdated" />
        </s:restriction>
      </s:simpleType>
      <s:element name="PaymentAccountQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="response" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PaymentAccountQueryRecordCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="credentials" type="tns:Credentials" />
            <s:element minOccurs="1" maxOccurs="1" name="application" type="tns:Application" />
            <s:element minOccurs="0" maxOccurs="1" name="extendedParameters" type="tns:ArrayOfExtendedParameters" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PaymentAccountQueryRecordCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="response" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PaymentAccountQueryTokenReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="credentials" type="tns:Credentials" />
            <s:element minOccurs="1" maxOccurs="1" name="application" type="tns:Application" />
            <s:element minOccurs="1" maxOccurs="1" name="paging" type="tns:Paging" />
            <s:element minOccurs="0" maxOccurs="1" name="extendedParameters" type="tns:ArrayOfExtendedParameters" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Paging">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Page" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PaymentAccountQueryTokenReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="response" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PaymentAccountAutoUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="credentials" type="tns:Credentials" />
            <s:element minOccurs="1" maxOccurs="1" name="application" type="tns:Application" />
            <s:element minOccurs="1" maxOccurs="1" name="paymentAccount" type="tns:PaymentAccount" />
            <s:element minOccurs="0" maxOccurs="1" name="extendedParameters" type="tns:ArrayOfExtendedParameters" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PaymentAccountAutoUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="response" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ScheduledTaskDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="credentials" type="tns:Credentials" />
            <s:element minOccurs="1" maxOccurs="1" name="application" type="tns:Application" />
            <s:element minOccurs="1" maxOccurs="1" name="scheduledTask" type="tns:ScheduledTask" />
            <s:element minOccurs="0" maxOccurs="1" name="extendedParameters" type="tns:ArrayOfExtendedParameters" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ScheduledTaskDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="response" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ScheduledTaskQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="credentials" type="tns:Credentials" />
            <s:element minOccurs="1" maxOccurs="1" name="application" type="tns:Application" />
            <s:element minOccurs="1" maxOccurs="1" name="scheduledTaskParameters" type="tns:ScheduledTaskParameters" />
            <s:element minOccurs="0" maxOccurs="1" name="extendedParameters" type="tns:ArrayOfExtendedParameters" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ScheduledTaskParameters">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ScheduledTaskQueryType" type="tns:ScheduledTaskQueryType" />
          <s:element minOccurs="0" maxOccurs="1" name="ScheduledTaskID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ScheduledTaskGroupID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ScheduledTaskName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ScheduledTaskReferenceNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ScheduledTaskRunStatus" type="tns:ScheduledTaskRunStatus" />
          <s:element minOccurs="0" maxOccurs="1" name="RunStartDate" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RunUntilCancelFlag" type="tns:ExtendedBooleanType" />
          <s:element minOccurs="1" maxOccurs="1" name="ScheduledTaskStatus" type="tns:ExtendedStatusType" />
          <s:element minOccurs="1" maxOccurs="1" name="RunFrequency" type="tns:ExtendedRunFrequency" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ScheduledTaskQueryType">
        <s:restriction base="s:string">
          <s:enumeration value="Profile" />
          <s:enumeration value="RunLog" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="ScheduledTaskRunStatus">
        <s:restriction base="s:string">
          <s:enumeration value="Null" />
          <s:enumeration value="Pending" />
          <s:enumeration value="Running" />
          <s:enumeration value="Completed" />
          <s:enumeration value="Error" />
          <s:enumeration value="SystemRetry" />
          <s:enumeration value="ManualRetry" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="ExtendedBooleanType">
        <s:restriction base="s:string">
          <s:enumeration value="Null" />
          <s:enumeration value="False" />
          <s:enumeration value="True" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="ExtendedStatusType">
        <s:restriction base="s:string">
          <s:enumeration value="Null" />
          <s:enumeration value="Active" />
          <s:enumeration value="Disabled" />
          <s:enumeration value="Removed" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="ExtendedRunFrequency">
        <s:restriction base="s:string">
          <s:enumeration value="Null" />
          <s:enumeration value="OneTimeFuture" />
          <s:enumeration value="Daily" />
          <s:enumeration value="Weekly" />
          <s:enumeration value="BiWeekly" />
          <s:enumeration value="Monthly" />
          <s:enumeration value="BiMonthly" />
          <s:enumeration value="Quarterly" />
          <s:enumeration value="SemiAnnually" />
          <s:enumeration value="Yearly" />
        </s:restriction>
      </s:simpleType>
      <s:element name="ScheduledTaskQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="response" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ScheduledTaskUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="credentials" type="tns:Credentials" />
            <s:element minOccurs="1" maxOccurs="1" name="application" type="tns:Application" />
            <s:element minOccurs="1" maxOccurs="1" name="scheduledTask" type="tns:ScheduledTask" />
            <s:element minOccurs="0" maxOccurs="1" name="extendedParameters" type="tns:ArrayOfExtendedParameters" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ScheduledTaskUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="response" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ScheduledTaskRetry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="credentials" type="tns:Credentials" />
            <s:element minOccurs="1" maxOccurs="1" name="application" type="tns:Application" />
            <s:element minOccurs="1" maxOccurs="1" name="scheduledTask" type="tns:ScheduledTask" />
            <s:element minOccurs="0" maxOccurs="1" name="extendedParameters" type="tns:ArrayOfExtendedParameters" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ScheduledTaskRetryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="response" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PaymentAccountCreateWithTransIDSoapIn">
    <wsdl:part name="parameters" element="tns:PaymentAccountCreateWithTransID" />
  </wsdl:message>
  <wsdl:message name="PaymentAccountCreateWithTransIDSoapOut">
    <wsdl:part name="parameters" element="tns:PaymentAccountCreateWithTransIDResponse" />
  </wsdl:message>
  <wsdl:message name="PaymentAccountCreateSoapIn">
    <wsdl:part name="parameters" element="tns:PaymentAccountCreate" />
  </wsdl:message>
  <wsdl:message name="PaymentAccountCreateSoapOut">
    <wsdl:part name="parameters" element="tns:PaymentAccountCreateResponse" />
  </wsdl:message>
  <wsdl:message name="PaymentAccountUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:PaymentAccountUpdate" />
  </wsdl:message>
  <wsdl:message name="PaymentAccountUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:PaymentAccountUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="PaymentAccountDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:PaymentAccountDelete" />
  </wsdl:message>
  <wsdl:message name="PaymentAccountDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:PaymentAccountDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="PaymentAccountQuerySoapIn">
    <wsdl:part name="parameters" element="tns:PaymentAccountQuery" />
  </wsdl:message>
  <wsdl:message name="PaymentAccountQuerySoapOut">
    <wsdl:part name="parameters" element="tns:PaymentAccountQueryResponse" />
  </wsdl:message>
  <wsdl:message name="PaymentAccountQueryRecordCountSoapIn">
    <wsdl:part name="parameters" element="tns:PaymentAccountQueryRecordCount" />
  </wsdl:message>
  <wsdl:message name="PaymentAccountQueryRecordCountSoapOut">
    <wsdl:part name="parameters" element="tns:PaymentAccountQueryRecordCountResponse" />
  </wsdl:message>
  <wsdl:message name="PaymentAccountQueryTokenReportSoapIn">
    <wsdl:part name="parameters" element="tns:PaymentAccountQueryTokenReport" />
  </wsdl:message>
  <wsdl:message name="PaymentAccountQueryTokenReportSoapOut">
    <wsdl:part name="parameters" element="tns:PaymentAccountQueryTokenReportResponse" />
  </wsdl:message>
  <wsdl:message name="PaymentAccountAutoUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:PaymentAccountAutoUpdate" />
  </wsdl:message>
  <wsdl:message name="PaymentAccountAutoUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:PaymentAccountAutoUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ScheduledTaskDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:ScheduledTaskDelete" />
  </wsdl:message>
  <wsdl:message name="ScheduledTaskDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:ScheduledTaskDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ScheduledTaskQuerySoapIn">
    <wsdl:part name="parameters" element="tns:ScheduledTaskQuery" />
  </wsdl:message>
  <wsdl:message name="ScheduledTaskQuerySoapOut">
    <wsdl:part name="parameters" element="tns:ScheduledTaskQueryResponse" />
  </wsdl:message>
  <wsdl:message name="ScheduledTaskUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:ScheduledTaskUpdate" />
  </wsdl:message>
  <wsdl:message name="ScheduledTaskUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:ScheduledTaskUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ScheduledTaskRetrySoapIn">
    <wsdl:part name="parameters" element="tns:ScheduledTaskRetry" />
  </wsdl:message>
  <wsdl:message name="ScheduledTaskRetrySoapOut">
    <wsdl:part name="parameters" element="tns:ScheduledTaskRetryResponse" />
  </wsdl:message>
  <wsdl:portType name="ExpressSoap">
    <wsdl:operation name="PaymentAccountCreateWithTransID">
      <wsdl:input message="tns:PaymentAccountCreateWithTransIDSoapIn" />
      <wsdl:output message="tns:PaymentAccountCreateWithTransIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PaymentAccountCreate">
      <wsdl:input message="tns:PaymentAccountCreateSoapIn" />
      <wsdl:output message="tns:PaymentAccountCreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PaymentAccountUpdate">
      <wsdl:input message="tns:PaymentAccountUpdateSoapIn" />
      <wsdl:output message="tns:PaymentAccountUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PaymentAccountDelete">
      <wsdl:input message="tns:PaymentAccountDeleteSoapIn" />
      <wsdl:output message="tns:PaymentAccountDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PaymentAccountQuery">
      <wsdl:input message="tns:PaymentAccountQuerySoapIn" />
      <wsdl:output message="tns:PaymentAccountQuerySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PaymentAccountQueryRecordCount">
      <wsdl:input message="tns:PaymentAccountQueryRecordCountSoapIn" />
      <wsdl:output message="tns:PaymentAccountQueryRecordCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PaymentAccountQueryTokenReport">
      <wsdl:input message="tns:PaymentAccountQueryTokenReportSoapIn" />
      <wsdl:output message="tns:PaymentAccountQueryTokenReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PaymentAccountAutoUpdate">
      <wsdl:input message="tns:PaymentAccountAutoUpdateSoapIn" />
      <wsdl:output message="tns:PaymentAccountAutoUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ScheduledTaskDelete">
      <wsdl:input message="tns:ScheduledTaskDeleteSoapIn" />
      <wsdl:output message="tns:ScheduledTaskDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ScheduledTaskQuery">
      <wsdl:input message="tns:ScheduledTaskQuerySoapIn" />
      <wsdl:output message="tns:ScheduledTaskQuerySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ScheduledTaskUpdate">
      <wsdl:input message="tns:ScheduledTaskUpdateSoapIn" />
      <wsdl:output message="tns:ScheduledTaskUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ScheduledTaskRetry">
      <wsdl:input message="tns:ScheduledTaskRetrySoapIn" />
      <wsdl:output message="tns:ScheduledTaskRetrySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExpressSoap" type="tns:ExpressSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PaymentAccountCreateWithTransID">
      <soap:operation soapAction="https://services.elementexpress.com/PaymentAccountCreateWithTransID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PaymentAccountCreate">
      <soap:operation soapAction="https://services.elementexpress.com/PaymentAccountCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PaymentAccountUpdate">
      <soap:operation soapAction="https://services.elementexpress.com/PaymentAccountUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PaymentAccountDelete">
      <soap:operation soapAction="https://services.elementexpress.com/PaymentAccountDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PaymentAccountQuery">
      <soap:operation soapAction="https://services.elementexpress.com/PaymentAccountQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PaymentAccountQueryRecordCount">
      <soap:operation soapAction="https://services.elementexpress.com/PaymentAccountQueryRecordCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PaymentAccountQueryTokenReport">
      <soap:operation soapAction="https://services.elementexpress.com/PaymentAccountQueryTokenReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PaymentAccountAutoUpdate">
      <soap:operation soapAction="https://services.elementexpress.com/PaymentAccountAutoUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ScheduledTaskDelete">
      <soap:operation soapAction="https://services.elementexpress.com/ScheduledTaskDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ScheduledTaskQuery">
      <soap:operation soapAction="https://services.elementexpress.com/ScheduledTaskQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ScheduledTaskUpdate">
      <soap:operation soapAction="https://services.elementexpress.com/ScheduledTaskUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ScheduledTaskRetry">
      <soap:operation soapAction="https://services.elementexpress.com/ScheduledTaskRetry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ExpressSoap12" type="tns:ExpressSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PaymentAccountCreateWithTransID">
      <soap12:operation soapAction="https://services.elementexpress.com/PaymentAccountCreateWithTransID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PaymentAccountCreate">
      <soap12:operation soapAction="https://services.elementexpress.com/PaymentAccountCreate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PaymentAccountUpdate">
      <soap12:operation soapAction="https://services.elementexpress.com/PaymentAccountUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PaymentAccountDelete">
      <soap12:operation soapAction="https://services.elementexpress.com/PaymentAccountDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PaymentAccountQuery">
      <soap12:operation soapAction="https://services.elementexpress.com/PaymentAccountQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PaymentAccountQueryRecordCount">
      <soap12:operation soapAction="https://services.elementexpress.com/PaymentAccountQueryRecordCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PaymentAccountQueryTokenReport">
      <soap12:operation soapAction="https://services.elementexpress.com/PaymentAccountQueryTokenReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PaymentAccountAutoUpdate">
      <soap12:operation soapAction="https://services.elementexpress.com/PaymentAccountAutoUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ScheduledTaskDelete">
      <soap12:operation soapAction="https://services.elementexpress.com/ScheduledTaskDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ScheduledTaskQuery">
      <soap12:operation soapAction="https://services.elementexpress.com/ScheduledTaskQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ScheduledTaskUpdate">
      <soap12:operation soapAction="https://services.elementexpress.com/ScheduledTaskUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ScheduledTaskRetry">
      <soap12:operation soapAction="https://services.elementexpress.com/ScheduledTaskRetry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Express">
    <wsdl:port name="ExpressSoap" binding="tns:ExpressSoap">
      <soap:address location="https://services.elementexpress.com/express.asmx" />
    </wsdl:port>
    <wsdl:port name="ExpressSoap12" binding="tns:ExpressSoap12">
      <soap12:address location="https://services.elementexpress.com/express.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>