CTWebMgmt/Web References/wsMDSmartMoverV2B/smartmover.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:mdSmartMoverService" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="urn:mdSmartMoverService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="urn:mdSmartMoverService">
      <s:element name="DoSmartMover">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestArray" type="tns:RequestArray" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RequestArray">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CustomerID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PAFId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ExecutionID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="JobID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OptAddressParsed" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="OptSmartMoverDetail" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="OptSmartMoverProcessingType" type="tns:ProcessingType" />
          <s:element minOccurs="1" maxOccurs="1" name="OptSmartMoverListOwnerFreqProcessing" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OptSmartMoverNumberOfMonthsRequested" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="OptSmartMoverListName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="Record" type="tns:RequestRecord" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalRecords" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ProcessingType">
        <s:restriction base="s:string">
          <s:enumeration value="Standard" />
          <s:enumeration value="Individual" />
          <s:enumeration value="IndividualAndBusiness" />
          <s:enumeration value="Business" />
          <s:enumeration value="Residential" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="RequestRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RecordID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Urbanization" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Suite" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrivateMailBox" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Plus4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FullName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MiddleName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NamePrefix" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NameSuffix" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DoSmartMoverResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DoSmartMoverResult" type="tns:ResponseArray" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResponseArray">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Fault" type="tns:RspFault" />
          <s:element minOccurs="0" maxOccurs="1" name="JobInf" type="tns:RspJobInf" />
          <s:element minOccurs="0" maxOccurs="1" name="TotalRecords" type="s:string" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="Record" type="tns:ResponseRecord" />
        </s:sequence>
        <s:attribute name="ProductName" type="s:string" />
        <s:attribute name="Version" type="s:string" />
        <s:attribute name="TimeStamp" type="s:string" />
      </s:complexType>
      <s:complexType name="RspFault">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Desc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Source" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Detail" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RspJobInf">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SummaryReport" type="tns:RspSummaryRptLink" />
          <s:element minOccurs="0" maxOccurs="1" name="JobID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RspSummaryRptLink">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NCOALink" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CASS" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ResponseRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RecordID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Results" type="tns:RspAddressTypeAddrZipResult" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="tns:RspAddress" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="tns:RspName" />
          <s:element minOccurs="0" maxOccurs="1" name="Company" type="tns:RspCompany" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RspAddressTypeAddrZipResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RspAddress">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Result" type="tns:RspResultRecord" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="tns:RspAddressType" />
          <s:element minOccurs="0" maxOccurs="1" name="Flags" type="tns:RspFlags" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Urbanization" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Suite" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrivateMailBox" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="tns:RspCityState" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="tns:RspCityState" />
          <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Plus4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CarrierRoute" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LacsLink" type="tns:RspLacsLink" />
          <s:element minOccurs="0" maxOccurs="1" name="DeliveryPointCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeliveryPointCheckDigit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DPV" type="tns:RspDPV" />
          <s:element minOccurs="0" maxOccurs="1" name="Parsed" type="tns:RspParsed" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="tns:RspCountry" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Move" type="tns:RspMove" />
          <s:element minOccurs="0" maxOccurs="1" name="Original" type="tns:RspOriginal" />
          <s:element minOccurs="0" maxOccurs="1" name="Standardized" type="tns:RspStandardized" />
          <s:element minOccurs="0" maxOccurs="1" name="MovedTo" type="tns:RspMovedTo" />
          <s:element minOccurs="0" maxOccurs="1" name="USPSResultCodes" type="tns:RspUSPSResultCodes" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RspResultRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Error" type="tns:RspAddressTypeAddrZipResult" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="tns:RspAddressTypeAddrZipResult" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RspAddressType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="tns:RspAddressTypeAddrZipResult" />
          <s:element minOccurs="0" maxOccurs="1" name="Zip" type="tns:RspAddressTypeAddrZipResult" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RspFlags">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Vacant" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RspCityState">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Abbreviation" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RspLacsLink">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LacsStatusCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LacsReturnCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RspDPV">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Footnotes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CMRA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressStatus" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RspParsed">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StreetName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressRange" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Suffix" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Direction" type="tns:RspDirection" />
          <s:element minOccurs="0" maxOccurs="1" name="Suite" type="tns:RspSuiteAndPrivateMailBox" />
          <s:element minOccurs="0" maxOccurs="1" name="PrivateMailBox" type="tns:RspSuiteAndPrivateMailBox" />
          <s:element minOccurs="0" maxOccurs="1" name="Garbage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RspDirection">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Post" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Pre" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RspSuiteAndPrivateMailBox">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Range" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RspCountry">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Abbreviation" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RspMove">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="tns:RspMoveTypeAndReturn" />
          <s:element minOccurs="0" maxOccurs="1" name="Return" type="tns:RspMoveTypeAndReturn" />
          <s:element minOccurs="0" maxOccurs="1" name="EffectiveDate" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RspMoveTypeAndReturn">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RspOriginal">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Urbanization" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Suite" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrivateMailBox" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="tns:RspCityState" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="tns:RspCityState" />
          <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Plus4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RspStandardized">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Result" type="tns:RspResultRecord" />
          <s:element minOccurs="0" maxOccurs="1" name="Urbanization" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Suite" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrivateMailBox" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="tns:RspCityState" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="tns:RspCityState" />
          <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Plus4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CarrierRoute" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LacsLink" type="tns:RspLacsLink" />
          <s:element minOccurs="0" maxOccurs="1" name="DeliveryPointCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeliveryPointCheckDigit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DPV" type="tns:RspDPV" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="tns:RspAddressType" />
          <s:element minOccurs="0" maxOccurs="1" name="Parsed" type="tns:RspParsed" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="tns:RspCountry" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RspMovedTo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Result" type="tns:RspResult" />
          <s:element minOccurs="0" maxOccurs="1" name="Urbanization" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Suite" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrivateMailBox" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="tns:RspCityState" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="tns:RspCityState" />
          <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Plus4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CarrierRoute" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LacsLink" type="tns:RspLacsLink" />
          <s:element minOccurs="0" maxOccurs="1" name="DeliveryPointCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeliveryPointCheckDigit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DPV" type="tns:RspDPV" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="tns:RspAddressType" />
          <s:element minOccurs="0" maxOccurs="1" name="Parsed" type="tns:RspParsed" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RspResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Error" type="tns:RspAddressTypeAddrZipResult" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="tns:RspAddressTypeAddrZipResult" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RspUSPSResultCodes">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="HexResult" type="tns:RspHexResult" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RspHexResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EMDP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="First8of48" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataRetrieved" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SHA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShaOf48" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RspName">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Result" type="tns:RspResult" />
          <s:element minOccurs="0" maxOccurs="1" name="Full" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="First" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Middle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Last" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Prefix" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Suffix" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RspCompany">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetNCOALink_SummaryReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="PafID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="JobId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNCOALink_SummaryReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNCOALink_SummaryReportResult" type="tns:RespNCOALinkSummaryReport" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RespNCOALinkSummaryReport">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Fault" type="tns:RspFault" />
          <s:element minOccurs="0" maxOccurs="1" name="JobInf" type="tns:RspReportJobInf" />
          <s:element minOccurs="0" maxOccurs="1" name="NCOALink" type="tns:RspNCOALink" />
        </s:sequence>
        <s:attribute name="ProductName" type="s:string" />
        <s:attribute name="Version" type="s:string" />
        <s:attribute name="TimeStamp" type="s:string" />
      </s:complexType>
      <s:complexType name="RspReportJobInf">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="JobId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RspNCOALink">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Customer_Info" type="tns:RspReportCustInfo" />
          <s:element minOccurs="0" maxOccurs="1" name="Processing_Options" type="tns:RspReportNCoalProcOption" />
          <s:element minOccurs="0" maxOccurs="1" name="Results" type="tns:RspReportNCoalResult" />
          <s:element minOccurs="0" maxOccurs="1" name="Move_Results" type="tns:RspReportMoveResult" />
          <s:element minOccurs="0" maxOccurs="1" name="Move_Activity" type="tns:RspReportMoveActivity" />
          <s:element minOccurs="0" maxOccurs="1" name="MonthsOfMoveEffDate" type="tns:RspReportMonthsOfMoveEffDate" />
          <s:element minOccurs="0" maxOccurs="1" name="MoveActivitySummaryByReturnCode" type="tns:RspReportMonthsOfMoveActivity" />
          <s:element minOccurs="0" maxOccurs="1" name="Return_Codes" type="tns:RspReportReturnCodes" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RspReportCustInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PAF_Customer_ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PAF_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Company_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="List_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="tns:RspRequAddress" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RspRequAddress">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastLine" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Secondary" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Zipcode" type="tns:RspZipCode" />
          <s:element minOccurs="0" maxOccurs="1" name="Urbanization" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrivateMailBox" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RspZipCode">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Plus4" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RspReportNCoalProcOption">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Processing_Category" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Class_Of_Mail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Date_NCOALink_Began" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Date_List_Returned" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Pre_Process" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Concurrent_Processes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Post_Processing" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Obtaining_final_results" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Standard_output_Returned_flag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Matching_Logic_Applied_flag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data_Returned_flag" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RspReportNCoalResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Number_of_Records_Proccessed" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Records_Matched" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Records_ZIP4_Coded" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Records_DPV_Confirmed" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Total_LACSLinkMatch" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Total_SUITELinkMatch" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Total_ANKLinkMatch" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Total_Moved" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RspReportMoveResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Individual_Move" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Family_Move" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Business_Move" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RspReportMoveActivity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NewAddressProvided" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NoNewAddressAvailable" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UnableToProvideNewAddress" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RspReportMonthsOfMoveEffDate">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Months00To03" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Months04To06" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Months07To12" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Months13To18" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Months19AndOlder" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RspReportMonthsOfMoveActivity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MonthReturnCodeA_91_92" type="tns:RspReportMonthsOfMoveEffDate" />
          <s:element minOccurs="0" maxOccurs="1" name="MonthReturnCode01_02_03" type="tns:RspReportMonthsOfMoveEffDate" />
          <s:element minOccurs="0" maxOccurs="1" name="MonthReturnCode05_14_19" type="tns:RspReportMonthsOfMoveEffDate" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RspReportReturnCodes">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="codeA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="code00" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="code01" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="code02" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="code03" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="code04" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="code05" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="code06" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="code07" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="code08" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="code09" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="code10" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="code11" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="code12" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="code13" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="code14" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="code15" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="code16" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="code17" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="code18" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="code19" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="code20" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="code66" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="code77" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="code91" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="code92" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCASS_SummaryReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="PafID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="JobId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCASS_SummaryReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCASS_SummaryReportResult" type="tns:RespCASSReport" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RespCASSReport">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Fault" type="tns:RspFault" />
          <s:element minOccurs="0" maxOccurs="1" name="JobInf" type="tns:RspReportJobInf" />
          <s:element minOccurs="0" maxOccurs="1" name="CASS" type="tns:RspCASS" />
        </s:sequence>
        <s:attribute name="ProductName" type="s:string" />
        <s:attribute name="Version" type="s:string" />
        <s:attribute name="TimeStamp" type="s:string" />
      </s:complexType>
      <s:complexType name="RspCASS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Software" type="tns:RspCASSSoftware" />
          <s:element minOccurs="0" maxOccurs="1" name="List" type="tns:RspCASSList" />
          <s:element minOccurs="0" maxOccurs="1" name="Output" type="tns:RspCASSOutput" />
          <s:element minOccurs="0" maxOccurs="1" name="Mailer" type="tns:RspCASSMailer" />
          <s:element minOccurs="0" maxOccurs="1" name="QSS" type="tns:RspCASSQSS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RspCASSSoftware">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CertifiedCompany" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CassVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Configuration" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RspCASSList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ProcessorName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CurrentDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DBDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ListName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumLists" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalRecCount" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RspCASSOutput">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Zip4Count" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="DPBCCount" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="FiveDigitCount" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="CRRTCount" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="LotCount" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Zip4Period" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DPBCPeriod" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FiveDigitPeriod" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CRRTPeriod" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LotPeriod" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RspCASSMailer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MailingName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MailingCompany" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MailingAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MailingCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MailingState" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MailingZIP" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RspCASSQSS">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="HRDefault" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="HRExact" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="RRDefault" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="RRExact" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="LACS" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="EWS" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="DPV" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="RDI" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="SuiteLink" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSummaryReportLink">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="PafID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="JobId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSummaryReportLinkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSummaryReportLinkResult" type="tns:RespNCOALinkReportLink" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RespNCOALinkReportLink">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Fault" type="tns:RspFault" />
          <s:element minOccurs="0" maxOccurs="1" name="JobInf" type="tns:RspReportLink" />
          <s:element minOccurs="0" maxOccurs="1" name="SummaryReport" type="tns:RspSummaryRptLink" />
        </s:sequence>
        <s:attribute name="ProductName" type="s:string" />
        <s:attribute name="Version" type="s:string" />
        <s:attribute name="TimeStamp" type="s:string" />
      </s:complexType>
      <s:complexType name="RspReportLink">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="JobId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCustomerIdStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:CustomerIDRequest" />
            <s:element minOccurs="0" maxOccurs="1" name="PAFId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CustomerIDRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MelissaId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PafId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCustomerIdStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomerIdStatusResult" type="tns:CustomerIDResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CustomerIDResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RequestedStatuses" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Statuses" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestedPackages" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Packages" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestedProperties" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Properties" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DoSmartMoverSoapIn">
    <wsdl:part name="parameters" element="tns:DoSmartMover" />
  </wsdl:message>
  <wsdl:message name="DoSmartMoverSoapOut">
    <wsdl:part name="parameters" element="tns:DoSmartMoverResponse" />
  </wsdl:message>
  <wsdl:message name="GetNCOALink_SummaryReportSoapIn">
    <wsdl:part name="parameters" element="tns:GetNCOALink_SummaryReport" />
  </wsdl:message>
  <wsdl:message name="GetNCOALink_SummaryReportSoapOut">
    <wsdl:part name="parameters" element="tns:GetNCOALink_SummaryReportResponse" />
  </wsdl:message>
  <wsdl:message name="GetCASS_SummaryReportSoapIn">
    <wsdl:part name="parameters" element="tns:GetCASS_SummaryReport" />
  </wsdl:message>
  <wsdl:message name="GetCASS_SummaryReportSoapOut">
    <wsdl:part name="parameters" element="tns:GetCASS_SummaryReportResponse" />
  </wsdl:message>
  <wsdl:message name="GetSummaryReportLinkSoapIn">
    <wsdl:part name="parameters" element="tns:GetSummaryReportLink" />
  </wsdl:message>
  <wsdl:message name="GetSummaryReportLinkSoapOut">
    <wsdl:part name="parameters" element="tns:GetSummaryReportLinkResponse" />
  </wsdl:message>
  <wsdl:message name="GetCustomerIdStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomerIdStatus" />
  </wsdl:message>
  <wsdl:message name="GetCustomerIdStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomerIdStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="SmartMoverSoap">
    <wsdl:operation name="DoSmartMover">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method To Do Smart Mover</wsdl:documentation>
      <wsdl:input message="tns:DoSmartMoverSoapIn" />
      <wsdl:output message="tns:DoSmartMoverSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNCOALink_SummaryReport">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Detail of NCOALink Processing Summary Report</wsdl:documentation>
      <wsdl:input message="tns:GetNCOALink_SummaryReportSoapIn" />
      <wsdl:output message="tns:GetNCOALink_SummaryReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCASS_SummaryReport">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Detail of CASS Processing Summary Report</wsdl:documentation>
      <wsdl:input message="tns:GetCASS_SummaryReportSoapIn" />
      <wsdl:output message="tns:GetCASS_SummaryReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSummaryReportLink">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Summary Report Link of NCOALink and CASS</wsdl:documentation>
      <wsdl:input message="tns:GetSummaryReportLinkSoapIn" />
      <wsdl:output message="tns:GetSummaryReportLinkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerIdStatus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Customer ID Status</wsdl:documentation>
      <wsdl:input message="tns:GetCustomerIdStatusSoapIn" />
      <wsdl:output message="tns:GetCustomerIdStatusSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SmartMoverSoap" type="tns:SmartMoverSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoSmartMover">
      <soap:operation soapAction="urn:mdSmartMoverService/DoSmartMover" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNCOALink_SummaryReport">
      <soap:operation soapAction="urn:mdSmartMoverService/GetNCOALink_SummaryReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCASS_SummaryReport">
      <soap:operation soapAction="urn:mdSmartMoverService/GetCASS_SummaryReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSummaryReportLink">
      <soap:operation soapAction="urn:mdSmartMoverService/GetSummaryReportLink" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerIdStatus">
      <soap:operation soapAction="urn:mdSmartMoverService/GetCustomerIdStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SmartMoverSoap12" type="tns:SmartMoverSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoSmartMover">
      <soap12:operation soapAction="urn:mdSmartMoverService/DoSmartMover" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNCOALink_SummaryReport">
      <soap12:operation soapAction="urn:mdSmartMoverService/GetNCOALink_SummaryReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCASS_SummaryReport">
      <soap12:operation soapAction="urn:mdSmartMoverService/GetCASS_SummaryReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSummaryReportLink">
      <soap12:operation soapAction="urn:mdSmartMoverService/GetSummaryReportLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerIdStatus">
      <soap12:operation soapAction="urn:mdSmartMoverService/GetCustomerIdStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SmartMover">
    <wsdl:port name="SmartMoverSoap" binding="tns:SmartMoverSoap">
      <soap:address location="http://smartmover.melissadata.net/v2b/smartmover.asmx" />
    </wsdl:port>
    <wsdl:port name="SmartMoverSoap12" binding="tns:SmartMoverSoap12">
      <soap12:address location="http://smartmover.melissadata.net/v2b/smartmover.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>